body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  text-align: center;
  padding-top: 40px;
}

h1 {
  color: #1e90ff;
}

.menu {
  list-style: none;
  padding: 60px;
}

.menu li {
  margin: 15px 0;
}

.menu a {
  text-decoration: none;
  background: #88f7bf;
  color: rgb(0, 0, 0);
  padding: 25px 25px;
  border-radius: 6px;
  display: inline-block;
  width: 200px;
}

.menu a:hover {
  background: #6e6e6e;
}
#my-list {
  list-style: none;
  padding-left: 0;
}
